@font-face {
    font-family: 'TT Lakes Regular';
    src: url('fonts1.4/TTLakes-Regular.eot');
    src: url('fonts1.4/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts1.4/TTLakes-Regular.woff') format('woff'),
    url('fonts1.4/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    width: 320px;
    height: 1024px;
    font-family: "TT Lakes", sans-serif;
   }
.menu-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.menu-mobile__close,
.menu-mobile__search {
    background-color: #FF3E79;
    border-radius: 50%;
    padding: 10px;
    border: #FF3E79;
    width: 40px;
    height: 40px;
}
.menu-mobile__search:hover,
.menu-mobile__close:hover {
    opacity: 0.5;
}
.options__decor {
    color: #7E7E82;
}
.options__decor::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #41F6D7;
    width: 3px;
    height: 30px;
    margin-left: -25px;
    top: 10px;
}

.options {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-top: 50px;
    position: relative;
}
.options li {
    margin-bottom: 30px;
}

.footer {
    position: fixed;
    bottom: 10px;

}

.list li {
    display: inline-block;
    flex-direction: row;
    margin-right: 26px;

}
.list-button {
    background-color: #FF3E79;
    border-radius: 50%;
    padding: 10px;
    border: #FF3E79;
    width: 40px;
    height: 40px;
}
.list-button:hover {
    opacity: 0.7;
}
.language_choose {
    display: flex;
    flex-direction: row;
}
.language_choose li {
    margin-right: 30px;
}
.email,
.phone {
    margin-left: 40px;
}
.phone {
    font-size: 26px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}
.language_action {
    color: #7E7E82;
}






