body {
    font-family: "TT Lakes", sans-serif;
    background-image: linear-gradient(to bottom, #ffffff 8%,#F8F8F8 8%);
    background-attachment: fixed;
    padding-top: 0;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    max-width: 320px;
}
.body__aside,
.popup-aside {
    display: none;
}
.body__aside {
    background-color: white;
}
.header {
    display: flex;
    align-items: center;

}
.logo__button {
    background:transparent;
    border: white;
    margin-right: 50px;
    margin-left: 30px;
}

.logo__button::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #EAEAEA;
    top: 20px;
    width: 3px;
    height: 35px;
    margin-left: 120px;
}

.logo:hover {
    opacity: 50%;
}
.list {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.list li {
    margin-right: 10px;
}
.list__button--open_modal,
.popup-menu__close,
.list__button--open-popup {
    background-color: #FF3E79;
    border-radius: 50%;
    padding: 10px;
    border: #FF3E79;
    width: 20px;
    height: 20px;
    transition: all 0.5s ease;
}
.list__button {
    background-color: #FF3E79;
    border-radius: 50%;
    padding: 10px;
    border: #FF3E79;
    width: 40px;
    height: 40px;
    transition: all 0.5s ease;
}
.list__button:hover,
.list__button--open_modal:hover,
.logo__button:hover,
.list__button--open-popup:hover,
.popup-menu__close:hover {
    opacity: 0.7;
}
.list__button:active,
.list__button--open_modal:active,
.popup-menu__close:active,
.menu-mobile__search:active,
.list__button--open-popup:active {
    transform: translate(2px, 3px);
    box-shadow: 2px 2px 2px 0 #1B1C21;
}

.popup-form,
.popup,
.popup-form-feedback {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.popup__content {
    background-color: white;
    padding: 20px 20px;
    height: 100%;
}
.popup-form__content,
.popup-form-feedback__content {
    display: flex;
    flex-direction: column;
    height: 676px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #41F6D7;
    position: relative;
    padding-top: 60px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 18px;
}

.popup__body {
    width: 320px;
    min-height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    background-color: white;
}
.popup-form__body,
.popup-form--feedback__body {
    width: 330px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    position: relative;
    left: 20%;
}
.popup:target,
.popup-form:target,
.popup-form-feedback:target {
    opacity: 1;
    visibility: visible;
    z-index: 2;
}
.submit {
    transition: all 0.5s ease;
}
.submit:hover {
    opacity: 0.5;
}
.submit:active {
    filter: drop-shadow(2px 2px #7E7E82);
    transform: translate(2px, 2px);

}

.input input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: 1px solid #B5B6BC;
    border-radius: 6px;
    width: 280px;
    height: 30px;
    font-family: inherit;
    align-items: center;

}
.input textarea {
    border: 1px solid #B5B6BC;
    border-radius: 6px;
    width: 280px;
    font-family: inherit;
}
.personal-date {
    font-size: 14px;
    color: #7E7E82;
    font-weight: normal;
    margin-bottom: 20px;
}
span {
    color: #FF3E79;
}

.popup-form__content--close,
.popup-form-feedback__content--close {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.5s ease;
}
.popup-form__content--close:hover {
    opacity: 0.5;
}
.popup-form__content--close:active {
    color: black;
    transform: translate(2px, 2px);
}
.popup-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popup-menu__search {
    background-color: #FF3E79;
    border-radius: 50%;
    padding: 10px;
    border: #FF3E79;
    width: 40px;
    height: 40px;
}
.button-tools,
.button-search {
    visibility: hidden;
}
.button-search {
    position: absolute;
    top: 15px;
    right: 10px;
}
.button-tools {
    position: absolute;
    top: 15px;
    right: 200px;
}

.menu-mobile__search:hover,
.menu-mobile__close:hover {
    opacity: 0.5;
}

a {
    color: black;
    text-decoration: none;
}
button {
    text-decoration: none;
}
.options_popup {
    padding: 0;
}
.options_popup li {
    text-decoration: none;
    font-size: 16px;
    padding-top: 30px;

}
.options_popup a:hover {
    color: #7E7E82;
    border-left: 3px solid #41F6D7;
    padding-left: 10px;
}

.list-modal {
    padding-top: 70px;

}
.list-modal ul {
    display: flex;
    flex-direction: row;

}
.list-modal__button {
    background-color: #FF3E79;
    border-radius: 50%;
    border: #FF3E79;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 0;

}
.list-modal__button:hover {
    opacity: 0.7;
}
.list-modal__button:active {
    box-shadow: 1px 1px 1px black;
    transform: translate(2px, 2px);
}

.language_choose {
    padding: 0;
    display: flex;
    flex-direction: row;

}
.language_choose li {
    margin-right: 20px;
}

.phone {
    font-size: 22px;
    font-weight: bold;
}

.language_choose a:hover {
    color: #7E7E82;
}
.language_choose a:active {
    border: 1px solid #41F6D7;
    border-radius: 50%;
    padding: 2px;
}


.info__text {
    color: #7E7E82;
    font-size: 28px;
}

.options-for-client {
    display: flex;
    flex-direction: row;
    color: #7E7E82;
    overflow: visible;
    font-size: 16px;

}
.options-for-client ul {
    display: flex;
    margin-left: 16px;
    overflow: visible;
    white-space: nowrap;
    justify-content: space-between;
}
.options-for-client li {
    margin-right: 30px;
    transition: all 0.5s ease;
}

.info__text::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #41F6D7;
    top: 100px;
    left: 5px;
    width: 3px;
    height: 35px;
}
.options-for-client__repair:hover,
.options-for-client__other-options:hover,
.options-for-client__price:hover,
.options-for-client__adress:hover,
.options-for-client__special-price:hover,
.options-for-client__comment:hover {
    border: 1px solid #41F6D7;
    border-radius: 5px;
    background-color: white;
    padding: 3px;
}
.options-for-client__repair:active,
.options-for-client__other-options:active,
.options-for-client__price:active,
.options-for-client__adress:active,
.options-for-client__special-price:active,
.options-for-client__comment:active {
    transform: translate(-2px, 2px);
    box-shadow: 0 0 3px black;

}
.promo {
    width: 500px;
    color: #1B1C21;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    font-size: 14px;
}

.read-next {
    background:transparent;
    border: white;
    width: 150px;
    font-size: 16px;
    font-family: inherit;

}
.read-next:hover {
    opacity: 0.7;
}
.read-next:active {
    transform: translate(0, 2px);
    filter: drop-shadow(0 2px 2px black);
}

.group-pictures {
    width: 320px;
    height: 230px;

}
.background-search {
    margin-right: 5px;
}
.list li:nth-child(1),
.list li:nth-child(2),
.list li:nth-child(3) {
    visibility: visible;
}

.show_all {
    visibility: hidden;
}

.title {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 16px;
    color: #7E7E82;
    top: 10px;
}
.title__text {
    font-size: 18px;
    margin-left: 20px;
}
h3 {
    color: #7E7E82;
}
p {
    color: #1B1C21;
}
.swiper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.swiper-wrapper {
    display: flex;
    flex-direction: row;
    flex-basis: 240px;
    min-width: 0;
}
.image-slider__slider {
    padding: 0;
    margin-right: 20px;

}

.image-slider__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 240px;
    height: 72px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    background-color: white;
}


/*.show-all {*/
/*    visibility: visible;*/
/*    z-index: 1;*/
/*}*/

.arrow-close,
.arrow-other-close{
    transform: rotate(180deg);
}

.show-all__button {
    margin-left: 30px;
    margin-top: 30px;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    transition: all 100ms ease;

}
.show-all__button:hover {
    opacity: 0.5;
}

.show-all__button:active {
    transform: translate(2px, 3px);
    box-shadow: 2px 2px 2px 0 #41F6D7;
}
.arrow,
.arrow-other {
    position: relative;
    left: -5px;
}
.promo__description-add--hidden {
    display: none;
}
.swiper-pagination {
    visibility: hidden;
}
.other-gadget {
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: inherit;
    font-size: 16px;
}
.img {
    position: relative;
    left: 180px;
}
p, h3 {
    margin: 0;
    padding: 0;
}
.info {
    margin: 20px;
}
.price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    font-size: 14px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    background-color: white;
    padding: 10px 10px;
    width: 220px;
    margin-right: 20px;
}
.order {
    background-color: white;
    border: none;
    position: relative;
    left: 20px;
    transition: all 0.5s ease;
}
.order:hover {
    opacity: 0.5;
}
.order:active {
    transform: translate(2px, 3px);
    opacity: 1;
}
.link {
    padding-left: 5px;
}
.offer {
    font-weight: bold;
}
.offer:hover {
    opacity: 0.5;
}
.offer:active {
    border: 1px solid #FF3E79;
    border-radius: 6px;
}
.title__hidden {
    display: block;
}
table {
    border-collapse: collapse;
}
th {
    text-align: left;
    color: #7E7E82;
    padding: 5px 20px;
}
td {
    background-color: white;
    border-bottom: 1px solid #cccccc;
    border-radius: 6px;
    padding: 5px 20px;
    font-size: 14px;
}
.table-price {
    display: none;
}

.swiper-wrapper {
    display: flex;
    flex-direction: row;
    flex-basis: 240px;
    margin: 20px;
}
.swiper-pagination {
    visibility: visible;
}
.image-slider .swiper-pagination {
    visibility: visible;
    position: relative;
    bottom: 0;
}
.image-slider .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    background-color: #7E7E82;
}
.show-all__button {
    visibility: hidden;
}
.hidden {
    display: block;
}

@media (min-width: 768px) {
    .show_all {
        visibility: visible;
    }
    .show-all__button {
        visibility: visible;
    }

    .table-price {
        display: block;
        margin-left: 20px;
        height: 100%;
    }
    .title__hidden {
        display: none;
    }

    .body__aside {
        display: block;
    }
    .swiper-pagination {
        visibility: hidden;
    }
    .body__aside,
    .popup-aside {
        display: none;
    }
}
@media (min-width: 1200px) {
    .show_all {
        visibility: visible;
    }
    .show-all__button {
        visibility: visible;
    }

    .body__aside {
        display: block;
        padding: 15px;
    }

    .table-price {
        display: block;
    }

    .header {
        display: none;
    }

    .swiper-pagination {
        visibility: hidden;
    }
    .popup-menu__close,
    .popup-menu__search {
        display: none;
    }
    .title__hidden {
        display: none;
    }
    list li:nth-child(4),
    list li:nth-child(5) {
        visibility: visible;
    }
    .button-tools,
    .button-search {
        visibility: visible;
        background-color: #FF3E79;
        border-radius: 50%;
        padding: 10px;
        border: #FF3E79;
        width: 40px;
        height: 40px;
    }
}
