@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/swiper/swiper.scss';

$bgColor: #24292e;
$text: #fff;

@font-face {
  font-family: "TT Lakes";
  src: local("TT Lakes"), url(../src/fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: 400; }

@font-face {
  font-family: "TT Lakes";
  src: local("TT Lakes"), url(../src/fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500; }

@font-face {
  font-family: "TT Lakes";
  src: local("TT Lakes"), url(../src/fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: 700; }

body {
  padding: 1rem;
  margin: 0;
  font-family: Comic, sans-serif;
  background-color: $bgColor;
  color: $text;
}
.swiper {
  &-pagination {
    display: flex; //изменяем тип отображения на flex-контейнер
    justify-content: center; //центрируем bullets по горизонтали

    &-bullet {
      height: 12px; // устанавливаем высоту bullets на 12 px
      width: 12px;  // устанавливаем ширину bullets на 12 px
      background: #DDD;  // устанавливаем цвет неактивных bullets
      border-radius: 50%;  // делаем их круглыми
      margin: 0 6px;  // устанавливаем отступ по горизонтали в 6px

      &-active {
        background: #B5B6BC; //устанавливем цвет для активных bullets
      }
    }
  }
}
